player-summary-component {
  .placeholder {
    height: 600;
  
    align-items: top;
    justify-content: top;
  }
}
h3{
  display: "inline";
}
body{
  width: 100%;
  height: 20%;
  border: black;
  border-width: thick;
  display:inline;
  box-sizing: border-box;
  background-color:#00BBFF
}